{{! <div class='details'>
    <div class='details__top-part-wrapper'>
        <img class='details__image' src='' alt='' />
        <div class='details__inner-wrapper'>
            <h1 class='details__title'></h1>
            <h2 class='details__subtitle'>INGREDIENTS</h2>
            <p class='details__note-text'>Per cocktail</p>
            <ul class='details__ingredient-list'>
                <li class='details__ingredient-item'>

                </li>
            </ul>
        </div>
        <div class='details__bottom-part-wrapper'>
            <h4 class='details__bottom-subtitle'>Instractions:</h4>
            <p class='details__note-text'></p>
        </div>
        <button class='details__add-to-fav-button'></button>
    </div>
</div> }}

<div class='details'>
    <div class='details__top-part-wrapper'>
        <div class='details__image-wrapper'>
            <img class='details__image' src='{{image}}' alt='{{name}} cocktail image' />
        </div>
        <div class='details__inner-wrapper'>
            <h1 class='details__title'>{{name}}</h1>
            <h4 class='details__bottom-subtitle-mobile'>Instractions:</h4>
            <p class='details__instruction-text-mobile'>{{instructions}}</p>
            <div class='details__image-wrapper-mobile'>
                <img class='details__image' src='{{image}}' alt='{{name}} cocktail image' />
            </div>
            <h2 class='details__subtitle'>INGREDIENTS</h2>
            <p class='details__note-text'>Per cocktail</p>
            <ul class='details__ingredient-list'>
                {{#each ingredients}}
                <li class='details__ingredient-item'>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <h4 class='details__bottom-subtitle'>Instractions:</h4>
    <p class='details__instruction-text'>{{instructions}}</p>

    <button type='button' class='button button--primary details__add-to-fav-button'>Add to
        favorite</button>
</div>
